Flask==2.0.1
tensorflow==2.17.0
keras==3.5.0
opencv-python==4.10.0.84
gunicorn==20.1.0  # For running your app in production
psycopg2-binary==2.9.5  # Use the binary version if needed
numpy==1.26.4
Pillow==9.4.0  # For image processing