<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Image</title>
  </head>
  <body>
    <h2>
      Upload an image to check if the person is sleeping or paying attention:
    </h2>

    <!-- Form to upload an image -->
    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept="image/*" required />
      <br /><br />
      <input type="submit" value="Upload" />
    </form>

    <!-- Display the result and uploaded image -->
    {% if result %}
    <h3>Result: {{ result }}</h3>
    {% endif %} {% if filename %}
    <h4>Uploaded Image:</h4>
    <img
      src="{{ url_for('uploaded_file', filename=filename) }}"
      alt="Uploaded Image"
      style="max-width: 300px; max-height: 300px"
    />
    {% endif %}
  </body>
</html>
