<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classify - Image Classifier</title>

    <!-- Google Fonts: Poppins and Roboto -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Link to external CSS file -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body data-theme="dark">
    <div class="container">
      <h2>Classify</h2>
      <p>
        Upload an image of a student to check if they're paying attention 👀
      </p>

      <form
        class="upload-form"
        action="/"
        method="POST"
        enctype="multipart/form-data"
      >
        <!-- Custom label for file input -->
        <label for="file-upload" class="custom-file-upload">Choose Image</label>
        <input
          id="file-upload"
          type="file"
          name="file"
          accept="image/*"
          required
          onchange="updateFileName()"
        />
        <p id="file-name"></p>
        <input type="submit" value="Upload" />
      </form>

      <div class="result">
        {% if result %}
        <h3>{{ result }}</h3>
        {% endif %} {% if filename %}
        <img
          src="{{ url_for('uploaded_file', filename=filename) }}"
          alt="Uploaded Image"
        />
        {% endif %}
      </div>
    </div>

    <!-- Floating Button -->
    <a
      href="https://www.linkedin.com/in/michaelmcvicar"
      class="floating-button"
    >
      <span>👋</span> Come say hello!
    </a>

    <!-- Link to external JS file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
